@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary-500/30;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white shadow-[0_4px_20px_-2px_rgba(0,0,0,0.05)] border border-border rounded-2xl transition-all duration-300;
  }
  .glass-card:hover {
    @apply shadow-[0_10px_30px_-5px_rgba(37,99,235,0.15)];
  }
  .glass-panel {
    @apply bg-surface-50 border border-border rounded-xl;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(15, 23, 42, 0.2); /* slate-900/20 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 23, 42, 0.3);
}

.rbc-calendar {
  font-family: inherit;
}
.rbc-toolbar button {
  color: #a1a1aa;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-color: #27272a;
  color: white;
}
.rbc-off-range-bg {
  background: #09090b;
}
.rbc-today {
  background-color: rgba(255, 255, 255, 0.03);
}
.rbc-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.rbc-day-bg + .rbc-day-bg, .rbc-month-row + .rbc-month-row, .rbc-time-content > * + * > *, .rbc-time-header.rbc-overflowing {
  border-left-color: rgba(255, 255, 255, 0.05);
  border-top-color: rgba(255, 255, 255, 0.05);
}
.rbc-timeslot-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
