# Placeholder environment variables for Backend and Frontend.
# Backend
MONGO_CONNECTION_STRING=mongodb://mongo:27017/AssetFlow
REDIS_CONNECTION_STRING=redis:6379
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
JWT_SECRET=super_secret_jwt_key_change_me_in_production

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SIGNALR_URL=http://localhost:5000/notifications\n